target/
!.mvn/wrapper/maven-wrapper.jar
.class
.log
.lock
.idea
.mvn
mvnw.cmd
mvnw
pom.xml

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.ides/workspace.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store